{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}

            <div class="alert alert-success">{{ message }}</div>

        {% endfor %}
        {{ form_start(ressourcesForm)}}
        {{ form_row(ressourcesForm.name) }}
        {{ form_row(ressourcesForm.price) }}
        {{ form_row(ressourcesForm.description) }}
        {{ form_row(ressourcesForm.pathImage) }}
        {{ form_row(ressourcesForm.pathLittleImage) }}
        {{ form_row(ressourcesForm.ressource) }}

        <label class="col-12 mb-3">Category
            <select class="form-select" name="tags">
                <option selected disabled>Selection</option>
                <option value="Graphics">Graphics</option>
                <option value="Models">Models</option>
                <option value="Plugins">Plugins</option>
                <option value="Builds">Builds</option>
                <option value="Others">Others</option>
            </select>
        </label>
        <button type="submit" class="btn btn-success">
            Submit
        </button>
        {{ form_end(ressourcesForm) }}
    </div>

{% endblock %}
