{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {#    On est dans une nouvelle section #}
    <section id="store">
        <div class="container d-flex flex-wrap col-12 gap-5 pt-5">
            <aside class="col-12 d-flex flex-wrap justify-content-between bg-gray rounded gap-5 p-5">
                <div class="col-12 text-center">
                    <h1>Categories</h1>
                </div>
                {#                Premier bloc pour les catégories #}
                <a href="#" class="col-12 col-lg-2 bg-white text-center rounded p-5 categories">
                    <div>
                        <h1 class="blue"><i class="fa-solid fa-paintbrush"></i></h1>
                        <p class="blue">Graphics</p>
                    </div>
                </a>

                <a href="#" class="col-12 col-lg-2 bg-white categories text-center rounded p-5">
                    <div>
                        <h1 class="blue"><i class="fa-regular fa-square"></i></h1>
                        <p class="blue">Models</p>
                    </div>
                </a>

                <a href="#" class="col-12 col-lg-2 bg-white categories text-center rounded p-5">
                    <div >
                        <h1 class="blue"><i class="fa-solid fa-puzzle-piece"></i></h1>
                        <p class="blue">Plugins</p>
                    </div>
                </a>

                <a href="#" class="col-12 col-lg-2 bg-white categories text-center rounded p-5">
                    <div>
                        <h1 class="blue"><i class="fa-solid fa-vihara"></i></h1>
                        <p class="blue">Builds</p>
                    </div>
                </a>

                <a href="#" class="col-12 col-lg-2 bg-white categories text-center rounded p-5">
                    <div>
                        <h1 class="blue"><i class="fa-solid fa-toolbox"></i></h1>
                        <p class="blue">Setups</p>
                    </div>
                </a>
            </aside>
            {#            <div class="col-12 col-lg-2"> #}
            {#                <h6>Filter</h6> #}
            {#                <hr style="width: 75%"> #}
            {#                <form method="get"> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value="logos"> #}
            {#                        <span class="form-check-label"> #}
            {#                    Logos #}
            {#                  </span> #}
            {#                    </label> <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Textures #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Backgrounds #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Banners #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Ranks #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Pubs #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                    <label class="form-check"> #}
            {#                        <input class="form-check-input" type="checkbox" value=""> #}
            {#                        <span class="form-check-label"> #}
            {#                    Animations #}
            {#                  </span> #}
            {#                    </label>  <!-- form-check.// --> #}
            {#                </form> #}
            {#            </div> #}
            <div>
                {{ knp_pagination_render(products) }}
            </div>
            <div class="col-12 d-flex flex-wrap justify-content-start gap-5">
                {% for product in products %}
                    <div class="example-2 cart">
                        <div class="wrapper"
                             style="background: url({{ product.pathImage }}) center / cover no-repeat; border-radius: 5px;">
                            <div class="header">
                                <div class="date">
                                    <span class="day">{{ product.LastUpdate|date(("d/m/Y")) }}</span>
                                </div>
                                <ul class="menu-content">
                                    <li><a href="#" class="fa fa-heart-o text-danger"><span>{{ product.review }}</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="data">
                                <div class="content">
                                    <h5 class="title"><a href="#">{{ product.name }}</a></h5>
                                    <a href="{{ path('app_store_details', {"name": product.name}) }}"
                                       class="text-center btn btn-success mt-2">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </section>
{% endblock %}
