{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block body %}
    <main>

        <section class="container">
            <form class="d-flex" role="search" action="{{ path('app_store_search') }}" method="get">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="col-12 d-flex flex-wrap justify-content-center mt-5 gap-3">
                {% if products.count == 0 %}
                    <div class="alert alert-danger mb-5" role="alert">
                        Error ! Nothing with this keyword exist!
                    </div>
                {% endif %}

                {% for product in products %}
                    <div class="example-2 cart mt-5">
                        <div class="wrapper"
                             style="background: url({{ product.pathImage }}) center / cover no-repeat; border-radius: 5px;">
                            <div class="header">
                                <div class="date">
                                    <span class="day">{{ product.LastUpdate|date(("d/m/Y")) }}</span>
                                </div>
                                <ul class="menu-content">
                                    <li>
                                        <a href="#" class="fa fa-bookmark-o"></a>
                                    </li>
                                    <li><a href="#" class="fa fa-heart-o"><span>{{ product.review }}</span></a></li>
                                </ul>
                            </div>
                            <div class="data">
                                <div class="content">
                                    <h5 class="title"><a href="#">{{ product.name }}</a></h5>
                                    <a href="{{ path('app_store_details', {"name": product.name}) }}"
                                       class="text-center btn btn-success mt-2">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mx-auto">
                {{ knp_pagination_render(products) }}
            </div>
        </section>

    </main>
{% endblock %}

